@charset "UTF-8";
.small {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.l-footer {
  border-radius: 12px 0 12px 0;
}

.l-footer .p-top-footer-cuguide-wrap {
  padding: 70px 50px;
  display: flex;
  background-color: #313131;
}

.p-top-footer-cuguide-left {
  width: 240px;
}

.p-top-footer-cuguide-left .p-top-footer-cuguide-logo-img-wrap {
  margin-bottom: 25px;
  width: 240px;
}

.p-top-footer-cuguide-left li {
  margin-bottom: 10px;
}

.p-top-footer-cuguide-left li a {
  color: #fff;
  padding: 15px 20px 15px 20px;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  border: 1px solid #fff;
  border-radius: 12px 0 12px 0;
  transition: 0.35s;
}

.p-top-footer-cuguide-left li a:hover {
  color: #000000;
  background-color: #ffffff;
}

.p-top-footer-cuguide-left li a span {
  position: absolute;
  right: 15px;
}

.p-top-footer-cuguide-right {
  width: 100%;
  padding-left: 60px;
  margin-bottom: 10px;
  color: #000;
}

.p-top-footer-contact {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  margin-bottom: 30px;
}

.p-top-footer-contact-call-wrap {
  width: 38%;
  border-right: 1px solid #000;
  padding-right: 20px;
}

.p-top-footer-contact-call-wrap p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.p-top-footer-contact-call-wrap .p-top-footer-contact-call {
  display: flex;
  align-items: center;
}

.p-top-footer-contact-call-wrap .p-top-footer-contact-call img {
  width: 36px;
  margin-right: 10px;
}

.p-top-footer-contact-call-wrap .p-top-footer-contact-call p {
  font-size: 1.7rem;
  transform: scaleY(1.5);
  padding-top: 5px;
  color: #ea385a;
}

.p-top-footer-contact-call-wrap span {
  font-size: 0.6rem;
  display: block;
}

.p-top-footer-contact-mail {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 62%;
  text-align: center;
}

.p-top-footer-contact-mail a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 50%;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fcc800;
  margin-right: 30px;
  font-weight: bold;
}

.p-top-footer-contact-mail a:last-child {
  margin: 0;
}

.p-top-footer-contact-mail a img {
  height: 14px;
  margin-right: 5px;
}

.p-top-footer-cuguide-detail-content-wrap {
  display: flex;
  flex-wrap: wrap;
}

.p-top-footer-cuguide-detail-content-wrap .p-top-footer-cuguide-detail-content {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 10px;
}

.p-top-footer-cuguide-detail-content-wrap .p-top-footer-cuguide-detail-content .p-top-footer-cuguide-detail-title {
  color: #fff;
  padding: 15px 20px 15px 20px;
  margin-bottom: 15px;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  border: 1px solid #fff;
  border-radius: 12px 0 12px 0;
  transition: 0.35s;
}

.p-top-footer-cuguide-detail-content-wrap .p-top-footer-cuguide-detail-content .p-top-footer-cuguide-detail-title:hover {
  color: #000000;
  background-color: #ffffff;
}

.p-top-footer-cuguide-detail-content-wrap .p-top-footer-cuguide-detail-content .p-top-footer-cuguide-detail-title span {
  position: absolute;
  right: 15px;
}

.p-top-footer-cuguide-detail-content-wrap li a {
  color: #fff;
  font-size: 0.8rem;
  padding: 8px 0 0 40px;
}

.p-top-footer-cuguide-detail-content-wrap li .p-top-footer-cuguide-detail-subtitle, .p-top-footer-cuguide-detail-content-wrap li .p-top-footer-cuguide-detail-subtitle-second {
  font-size: 1.1rem;
  padding-left: 20px;
}

.p-top-footer-cuguide-detail-content-wrap li .p-top-footer-cuguide-detail-subtitle-second {
  margin-top: 15px;
}

.p-top-footer-cuguide-detail-content-wrap .p-top-footer-cuguide-detail-subtitle-before {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.p-top-footer-cuguide-detail-content-wrap .p-top-footer-cuguide-detail-subtitle-before a {
  color: #fff;
  font-size: 0.8rem;
  padding: 8px 0 0 20px;
}

.p-top-footer-cuguide-detail-content-wrap .p-top-footer-cuguide-detail-limit a {
  padding: 8px 0 0 20px;
}

.p-top-footer-relation {
  padding: 30px 50px;
  background-color: #494949;
}

.p-top-footer-relation-contnet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.p-top-footer-relation-contnet li {
  margin: 5px;
  color: #fff;
  padding: 15px 20px 15px 20px;
  margin: 5px;
  position: relative;
  display: block;
  font-size: 0.9rem;
  border: 1px solid #fff;
  border-radius: 12px 0 12px 0;
  transition: 0.35s;
}

.p-top-footer-relation-contnet li:hover {
  color: #000000;
  background-color: #ffffff;
}

.p-top-footer-relation-contnet li a {
  color: #fff;
  width: 100%;
  font-size: 0.9rem;
}

.p-top-footer-relation-contnet li a:hover {
  color: #000;
}

.p-top-footer-relation-contnet li span {
  margin-left: 10px;
}

.p-top-footer-company-info {
  padding: 20px 50px;
  background-color: #7d7d7d;
}

.p-top-footer-company-info-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.p-top-footer-company-info-content ul li {
  padding: 0 20px;
  margin: 5px 0;
  border-left: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-top-footer-company-info-content ul li:first-child {
  border: none;
}

.p-top-footer-company-info-content ul li a {
  color: #fff;
  font-size: 0.9rem;
}

.p-top-footer-copyright {
  padding: 30px 0;
}

.p-top-footer-copyright p {
  font-size: 0.7rem;
  text-align: center;
  color: #000;
}

@media (max-width: 765px) {
  .l-footer .p-top-footer-cuguide-wrap {
    flex-direction: column;
    padding: 30px 20px;
  }
  .p-top-footer-cuguide-left {
    order: 2;
    width: 100%;
  }
  .p-top-footer-cuguide-left ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .p-top-footer-cuguide-left ul li {
    margin: 0;
  }
  .p-top-footer-cuguide-left ul li a {
    font-size: 0.5rem;
    padding: 8px 10px;
  }
  .p-top-footer-cuguide-right {
    order: 1;
    padding: 0;
  }
  .p-top-footer-cuguide-right .p-top-footer-cuguide-logo-img-sp-wrap {
    display: block;
  }
  .p-top-footer-cuguide-right .p-top-footer-cuguide-logo-img-sp-wrap img {
    max-width: 300px;
    width: 50%;
    margin-bottom: 20px;
  }
  .p-top-footer-contact {
    flex-direction: column;
  }
  .p-top-footer-contact .p-top-footer-contact-call-wrap {
    width: 100%;
    padding: 0 0 10px;
    margin-bottom: 15px;
    border-right: none;
    border-bottom: 1px solid #000;
  }
  .p-top-footer-contact .p-top-footer-contact-call-wrap .p-top-footer-contact-call img {
    width: auto;
    margin-right: 10px;
    height: 100%;
    object-fit: contain;
  }
  .p-top-footer-contact .p-top-footer-contact-call-wrap .p-top-footer-contact-call p {
    font-size: 2rem;
    padding: 0;
    transform: scaleY(1.3);
  }
  .p-top-footer-contact .p-top-footer-contact-mail {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .p-top-footer-contact .p-top-footer-contact-mail a {
    width: 100%;
    margin: 0;
  }
  .p-top-footer-contact .p-top-footer-contact-mail a:first-child {
    margin-bottom: 10px;
  }
  .p-top-footer-cuguide-detail-content-wrap {
    flex-direction: column;
    border-bottom: 1px solid #686868;
  }
  .p-top-footer-cuguide-detail-content-wrap .p-top-footer-cuguide-detail-content {
    width: 100%;
    padding: 0;
  }
  .p-top-footer-cuguide-detail-content-wrap .p-top-footer-cuguide-detail-content .p-top-footer-cuguide-detail-title {
    margin-bottom: 5px;
    padding: 10px 20px;
  }
  .p-top-footer-relation {
    padding: 20px 20px;
  }
  .p-top-footer-relation .p-top-footer-relation-other-wrap {
    display: block;
  }
  .p-top-footer-relation .p-top-footer-relation-other-wrap .p-top-footer-relation-other-btn {
    color: #fff;
    padding-left: 5px;
    display: block;
  }
  .p-top-footer-relation .p-top-footer-relation-other-wrap .p-top-footer-relation-other-btn span {
    position: absolute;
    right: 25px;
  }
  .changed {
    transform: rotate(-180deg);
  }
  .p-top-footer-relation-contnet li {
    width: 100%;
    padding: 12px 45px 12px 20px;
  }
  .p-top-footer-relation-contnet li a {
    display: inline-flex;
    align-items: center;
    padding: 0;
    color: #fff;
    width: 100%;
    font-size: 0.9rem;
  }
  .p-top-footer-relation-contnet li a span {
    position: static;
  }
  .p-top-footer-company-info {
    padding: 10px 20px;
  }
  .p-top-footer-company-info ul li {
    padding: 0;
    margin-bottom: 5px;
  }
  .p-top-footer-company-info ul li a {
    font-size: 0.5rem;
    margin: 0 10px;
  }
  .p-top-footer-copyright p {
    font-size: 0.4rem;
  }
}

.l-header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 6px 0 10px -10px;
  z-index: 1000;
  height: 100%;
}

.p-top-header-nav-wrap {
  background-color: #fff;
  width: 240px;
}

.p-top-header-nav-wrap a {
  display: block;
  position: relative;
}

.p-top-header-nav-wrap a img {
  width: 100%;
  padding: 30px 25px;
  z-index: 900;
  background-color: #fff;
}

.p-top-header-nav-wrap .p-top-header-front {
  z-index: 900;
  background-color: #fff;
  position: relative;
  padding-bottom: 70px;
}

.p-top-header-front-nav {
  position: relative;
  background-color: #fff;
}

.p-top-parent-nav-content-last {
  border-bottom: 1px solid #dfdfdf;
}

.p-top-header-front-nav-content {
  max-width: 240px;
  border-top: 1px solid #dfdfdf;
  position: relative;
}

.p-top-header-front-nav-content a {
  display: block;
  color: #000;
  padding: 15px;
  width: 100%;
  text-align: left;
  font-size: 0.85rem;
  transition: 1.5s;
}

.p-top-header-front-nav-content a:hover {
  background-color: #dfdfdf;
  transition: .35s;
}

.p-top-header-front-nav-content a:hover span {
  border-color: #fff;
}

.p-top-header-front-nav-content span {
  color: #e92e2e;
  position: absolute;
  right: 15px;
  top: 0;
  border-left: 1px solid #dfdfdf;
  padding: 15px 0 15px 20px;
  height: 100%;
  font-size: 0.8rem;
}

.p-top-header-front-nav-content .header-nav-span-last {
  border: none;
}

.p-top-guideAndrecruit {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  padding: 0 15px;
  margin: 12px 0;
}

.p-top-guideAndrecruit a {
  width: auto;
  margin-bottom: 10px;
  color: #000;
}

.p-top-guideAndrecruit a span {
  color: #e92e2e;
  padding-right: 15px;
}

.p-top-ocAndentry {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 15px;
}

.p-top-ocAndentry a {
  border: 1px solid #000;
  padding: 8px 20px;
  border-radius: 10rem;
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #000;
  position: relative;
  transition: .35s;
}

.p-top-ocAndentry a:hover {
  color: #fff;
  background-color: #000;
  transition: .35s;
}

.p-top-ocAndentry a:hover span {
  color: #fff;
}

.p-top-ocAndentry a span {
  position: absolute;
  right: 20px;
  color: #e92e2e;
}

.p-top-language-wrap {
  margin-bottom: 30px;
  padding: 0 15px;
}

.p-top-language-wrap .p-top-language {
  border: 1px solid #000;
  display: flex;
  border-radius: 6px;
}

.p-top-language-wrap .p-top-language a {
  padding: 5px;
  text-align: center;
  width: 50%;
  font-size: 0.8rem;
}

.p-top-language-wrap .p-top-language .p-top-language-JP {
  border-radius: 5px 0 0 5px;
  background-color: #000;
  color: #fff;
}

.p-top-language-wrap .p-top-language .p-top-language-EN {
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  color: #000;
  transition: .35s;
}

.p-top-language-wrap .p-top-language .p-top-language-EN:hover {
  transition: .35s;
  background-color: #dfdfdf;
}

.p-top-header-sns {
  display: flex;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.p-top-header-sns a {
  width: 33.33333%;
  border-right: 1px solid #dfdfdf;
  text-align: center;
  padding: 15px;
  color: #000;
  font-size: 1.5rem;
}

.p-top-header-sns a:last-child {
  border-right: none;
}

.p-top-header-back-nav {
  position: absolute;
  top: 0;
  left: -500px;
  padding-top: 50px;
  background-color: #fff;
  transition-duration: .35s;
  z-index: 800;
  height: 100%;
  box-shadow: 6px 6px 13px -13px inset;
}

.p-top-header-back-nav li {
  position: relative;
  padding: 0 15px;
  border-top: 1px solid #efefef;
  margin: 0 30px;
}

.p-top-header-back-nav li:last-child {
  position: relative;
  border-bottom: 1px solid #efefef;
}

.p-top-header-back-nav a {
  position: relative;
  color: #000;
  display: block;
  transition: 0.35s;
  padding: 15px 0;
  font-size: 0.85rem;
}

.p-top-header-back-nav a span {
  position: absolute;
  right: 0;
  color: #e92e2e;
}

.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  padding-top: 80px;
  background-color: #fff;
  transform: translate(240px, 0);
  z-index: 700;
}

@media (max-width: 1000px) {
  .l-header {
    position: static;
  }
  .p-top-header-nav-wrap {
    display: none;
  }
  .p-top-header-sp {
    display: block;
    position: static;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    border-bottom: 1px solid #000;
  }
  .p-top-header-sp .p-top-header-content-wrap {
    display: flex;
  }
  .p-top-header-logo-img-sp-wrap {
    display: block;
    width: 140px;
    height: 100%;
  }
  .p-top-header-logo-img-sp-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .p-top-header-menu-wrap-wrap {
    margin-left: auto;
  }
  .p-top-header-menu-wrap-wrap .p-top-header-menu-wrap {
    margin-left: auto;
    position: relative;
  }
  .contentA, .contentB {
    transition: 0.5s;
    transform: rotate(60deg);
    position: absolute;
    top: 13px;
    width: 18px;
    height: 2px;
    background-color: #000000;
  }
  .contentA::before,
  .contentA::after {
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 10rem;
    background-color: #000000;
    content: "";
  }
  .contentA::before {
    top: -1px;
    left: -1px;
  }
  .contentA::after {
    bottom: -1px;
    right: -1px;
  }
  .content1 {
    left: -1px;
  }
  .content2 {
    left: 7px;
    transition: 0.2s 0.3s;
    transform: rotate(-60deg);
    opacity: 1;
  }
  .content4 {
    left: 24px;
    transform: rotate(-60deg);
  }
  .content5 {
    left: 32px;
  }
  .contentC {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    position: absolute;
    top: 13px;
    left: 15px;
    transform: rotate(60deg);
    transform-origin: center;
    width: 18px;
    height: 2px;
  }
  .contentC::before,
  .contentC::after {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    display: block;
    position: absolute;
    opacity: 1;
    width: 4px;
    height: 4px;
    border-radius: 10rem;
    background-color: #000000;
    content: "";
  }
  .contentC::before {
    top: -2px;
    left: -2px;
  }
  .contentC::after {
    bottom: -2px;
    right: -2px;
  }
  .content {
    transform: rotate(-60deg);
  }
  .p-top-header-menu-text {
    padding-top: 25px;
    font-size: 0.8rem;
    color: #000;
    padding-left: 4px;
  }
  .p-top-header-sp-menu-content-wrap {
    display: none;
    width: 100%;
    position: fixed;
    background-color: #000;
    opacity: 0.9;
  }
  .p-top-sp-menu-header {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
  }
  .p-top-sp-menu-header a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p-top-sp-menu-header a .p-top-sp-menu-header-logo-img-wrap {
    width: 140px;
  }
  .p-top-sp-menu-header .p-top-sp-menu-header-icon {
    position: relative;
    margin-left: auto;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-radius: 10px 0 10px 0;
  }
  .p-top-sp-menu-header .p-top-sp-menu-header-icon span {
    position: absolute;
    top: 22px;
    left: 5px;
    width: 35px;
    height: 1px;
    background-color: #fff;
  }
  .p-top-sp-menu-header .p-top-sp-menu-header-icon .lineA {
    transform: rotate(45deg);
  }
  .p-top-sp-menu-header .p-top-sp-menu-header-icon .lineB {
    transform: rotate(-45deg);
  }
  .p-top-header-sp-menu-nav-wrap {
    margin-top: 70px;
    padding: 20px;
    position: relative;
    overflow-y: auto;
    height: 100vh;
  }
  .p-top-header-sp-menu-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #fff;
  }
  .p-top-header-sp-menu-nav li {
    margin: 8px;
    width: calc(33.333% - 16px);
    height: 27vw;
  }
  .p-top-header-sp-menu-nav li a {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    transition: 0.35s;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 12px 0 12px 0;
    color: #ffffff;
    text-align: center;
  }
  .p-top-header-sp-menu-nav li a:hover {
    background-color: #fff;
    color: #000;
    opacity: 1;
  }
  .p-top-header-sp-menu-guideAndrecruit {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin-bottom: 30px;
  }
  .p-top-header-sp-menu-guideAndrecruit a {
    width: auto;
    margin-bottom: 10px;
    color: #fff;
    opacity: 1;
  }
  .p-top-header-sp-menu-guideAndrecruit a:hover {
    opacity: 0.8;
  }
  .p-top-header-sp-menu-guideAndrecruit a span {
    color: #fff;
    padding-right: 15px;
  }
  .p-top-header-sp-menu-ocAndentry {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .p-top-header-sp-menu-ocAndentry a {
    border: 1px solid #fff;
    padding: 13px 30px;
    border-radius: 10rem;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #fff;
    position: relative;
    transition: .35s;
  }
  .p-top-header-sp-menu-ocAndentry a:hover {
    background-color: #fff;
    color: #000;
    opacity: 1;
  }
  .p-top-header-sp-menu-ocAndentry a span {
    position: absolute;
    right: 20px;
    color: #fff;
  }
  .p-top-header-sp-menu-language-wrap {
    margin-bottom: 30px;
    padding: 0 15px;
  }
  .p-top-header-sp-menu-language-wrap .p-top-header-sp-menu-language {
    border: 1px solid #000;
    display: flex;
    border-radius: 6px;
  }
  .p-top-header-sp-menu-language-wrap .p-top-header-sp-menu-language a {
    padding: 5px;
    text-align: center;
    width: 50%;
    font-size: 0.8rem;
  }
  .p-top-header-sp-menu-language-wrap .p-top-header-sp-menu-language .p-top-header-sp-menu-language-JP {
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    color: #000;
  }
  .p-top-header-sp-menu-language-wrap .p-top-header-sp-menu-language .p-top-header-sp-menu-language-EN {
    border-radius: 0 5px 5px 0;
    background-color: #000;
    color: #fff;
    transition: .35s;
    border: 1px solid #fff;
  }
  .p-top-header-sp-menu-sns {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
  }
  .p-top-header-sp-menu-sns a {
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    margin: 15px;
  }
  .p-top-header-sp-menu-sns a:hover {
    opacity: .8;
  }
  .p-top-header-sp-menu-sns a:last-child {
    border-right: none;
  }
}

.p-top-whole-wrap {
  display: flex;
}

.l-main {
  z-index: 500;
  width: 100%;
}

.l-main .l-main-visual {
  position: relative;
}

.main-active {
  position: fixed;
  margin-top: 70px;
}

.p-top-top-img-wrap {
  overflow: hidden;
}

.p-top-top-img-wrap .p-top-top-img-pc {
  position: absolute;
  left: calc(100% - 1500px);
  width: 1500px;
  height: 660px;
  max-width: none;
  object-fit: cover;
  overflow: hidden;
}

.p-top-top-slider-wrap {
  position: absolute;
  left: calc(100% - 1135px);
  top: 130px;
  width: 608px;
  height: 335px;
  /*slick setting*/
}

.p-top-top-slider-wrap * {
  overflow: hidden;
}

.p-top-top-slider-wrap .slick-prev .slick-next {
  display: none;
}

.p-top-top-slider-wrap .slick-prev:before,
.p-top-top-slider-wrap .slick-next:before {
  display: none;
}

.p-top-top-slider-wrap .slick-dots li button:hover:before,
.p-top-top-slider-wrap .slick-dots li button:focus:before {
  opacity: 1;
}

.p-top-top-slider-wrap .slick-dots li button:before {
  font-size: 50px;
  top: -5px;
  opacity: 1;
  color: #fff;
}

.p-top-top-slider-wrap .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fcc800;
}

.p-top-top-slider-wrap .fadein {
  opacity: 1;
  transform: translate(0, 50px);
  transition: all 1500ms;
}

.p-top-top-slider-wrap .fadein .scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

.p-top-entry-deadline-img-wrap img {
  position: absolute;
  left: calc(100% - 478px);
  width: 375px;
  height: 460px;
  top: 90px;
}

.p-top-common-layout-newsAndseminer {
  padding: 70px 50px;
  background-color: #fcc800;
  margin-top: 660px;
}

.p-top-common-layout-newsAndseminer .p-top-news {
  margin-bottom: 70px;
}

.p-top-news-title-wrap {
  position: relative;
  margin-bottom: 30px;
  display: flex;
}

.p-top-news-title-wrap h2 {
  font-size: 3rem;
  margin-left: 110px;
  display: flex;
}

.p-top-news-title-wrap h2::before {
  content: "";
  position: absolute;
  background-color: #000;
  top: 50%;
  left: 0;
  width: 80px;
  height: 1px;
}

.p-top-news-title-wrap span {
  margin-left: 25px;
  padding-top: 33px;
  font-size: 1.2rem;
  display: none;
  transition: .35s;
}

.news-subtitle-active {
  transition: .35s;
  display: block !important;
}

.p-top-switch-news-wrap {
  margin-left: auto;
}

.p-top-switch-news-wrap .p-top-switch-news {
  border: 1px solid #000;
  display: flex;
  border-radius: 6px;
  width: 350px;
}

.p-top-switch-news-wrap .p-top-switch-news a {
  padding: 12px;
  text-align: center;
  width: 50%;
  font-size: 0.9rem;
  transition: .35s;
  background-color: #fff;
  color: #000;
}

.p-top-switch-news-wrap .p-top-switch-news .p-top-switch-news-news {
  border-radius: 5px 0 0 5px;
}

.p-top-switch-news-wrap .p-top-switch-news .p-top-switch-news-release {
  border-radius: 0 5px 5px 0;
}

.news-btn-active {
  background-color: #000 !important;
  color: #fff !important;
}

.p-top-news-content-wrap {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  transition: .35s;
}

.p-top-news-content-wrap a {
  border-radius: 16px 0 16px 0;
  background-color: #ffffff;
  color: #000;
  box-shadow: 1px 1px 10px #999;
  position: relative;
}

.news-content-active {
  display: grid !important;
  transition: .35s;
}

.p-top-news-content-when-wrap {
  display: flex;
  height: 120px;
  margin: -1px;
}

.p-top-news-content-when-wrap .p-top-news-content-when {
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-top-news-content-when-wrap .p-top-news-content-when .p-top-news-content-when-yearAndweek {
  margin-bottom: -10px;
}

.p-top-news-content-when-wrap .p-top-news-content-when .p-top-news-content-year {
  margin-right: 8px;
}

.p-top-news-content-when-wrap .p-top-news-content-when .p-top-news-content-month {
  font-size: 1.7rem;
  position: relative;
  bottom: 10px;
  right: -5px;
}

.p-top-news-content-when-wrap .p-top-news-content-when .p-top-news-content-slash {
  font-size: 2.5rem;
}

.p-top-news-content-when-wrap .p-top-news-content-when .p-top-news-content-day {
  font-size: 1.7rem;
  position: relative;
  right: 6px;
  bottom: -5px;
}

.p-top-news-content-when-wrap .p-top-news-content-img-wrap {
  width: 62%;
}

.p-top-news-content-when-wrap .p-top-news-content-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-top-news-content-text-wrap {
  border-top: 1px solid #ebebeb;
  padding: 20px;
}

.p-top-news-content-text-wrap .p-top-news-content-text-from {
  margin-bottom: 10px;
  font-size: 0.7rem;
  color: #fff;
  background-color: #9262bb;
  width: 140px;
  padding: 6px;
  text-align: center;
}

.p-top-news-content-text-wrap .p-top-news-content-text {
  margin-bottom: 10px;
}

.p-top-article-hover-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.35s;
  position: absolute;
  top: -1px;
  left: 1px;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 16px 0 16px 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.p-top-article-hover-wrap::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 12px 0 12px 0;
  background-color: rgba(252, 200, 0, 0.7);
}

.p-top-article-hover-wrap:hover {
  opacity: 1;
}

.p-top-article-hover-wrap .p-top-article-hover-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 10rem;
  background-color: #ffffff;
  z-index: 600;
}

.p-top-article-hover-wrap .p-top-article-hover-icon i {
  font-size: 2rem;
}

.p-top-news-list-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-top-news-list-btn a {
  color: #000;
  border: 2px solid #000;
  padding: 30px;
  border-radius: 10rem;
  display: block;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.p-top-news-list-btn a:hover {
  color: #fff;
  background-color: #000;
}

.p-top-news-list-btn a:hover i {
  color: #fff;
}

.p-top-news-list-btn a i {
  color: #e92e2e;
  padding-left: 15px;
}

.p-top-seminer-title-wrap {
  position: relative;
  margin-bottom: 30px;
  display: flex;
}

.p-top-seminer-title-wrap h2 {
  font-size: 3rem;
  margin-left: 110px;
  display: flex;
}

.p-top-seminer-title-wrap h2::before {
  content: "";
  position: absolute;
  background-color: #000;
  top: 50%;
  left: 0;
  width: 80px;
  height: 1px;
}

.p-top-seminer-title-wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  font-size: 0.8rem;
  border-radius: 10rem;
  width: 150px;
  height: 25px;
  margin: 26px 0 0 25px;
}

.p-top-seminer-title-wrap a:hover {
  color: #000;
  background-color: #fff;
}

.p-top-seminer-content-wrap a {
  border-radius: 16px 0 16px 0;
  background-color: #ffffff;
  color: #000;
  box-shadow: 1px 1px 10px #999;
  padding: 40px;
  display: flex;
  position: relative;
}

.p-top-seminer-content-wrap .p-top-seminer-fukuizumi-img-wrap {
  width: 30%;
}

.p-top-seminer-content-wrap .p-top-seminer-fukuizumi-img-wrap img {
  width: 240px;
  height: 210px;
  border-radius: 8px;
  object-fit: contain;
  background-color: #ececec;
}

.p-top-seminer-content-wrap .p-top-seminer-text-wrap {
  width: 70%;
}

.p-top-seminer-content-wrap .p-top-seminer-text-wrap .p-top-seminer-article-title {
  margin-bottom: 30px;
}

.p-top-seminer-text-wrap {
  margin-left: 30px;
}

.p-top-seminer-text-wrap .p-top-seminer-article-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.p-top-seminer-text-wrap .p-top-seminer-whenAnddetail {
  display: flex;
}

.p-top-seminer-content-when {
  width: 20%;
}

.p-top-seminer-content-when .p-top-seminer-content-when-yearAndweek {
  display: flex;
}

.p-top-seminer-content-when .p-top-seminer-content-when-yearAndweek .p-top-seminer-content-week {
  margin-left: auto;
}

.p-top-seminer-content-when .p-top-seminer-content-day-wrap {
  display: flex;
  font-weight: bold;
}

.p-top-seminer-content-when .p-top-seminer-content-day-wrap .p-top-seminer-content-month {
  font-size: 1.8rem;
}

.p-top-seminer-content-when .p-top-seminer-content-day-wrap .p-top-seminer-content-slash {
  font-size: 2.7rem;
  position: relative;
  top: -5px;
}

.p-top-seminer-content-when .p-top-seminer-content-day-wrap .p-top-seminer-content-day {
  font-size: 1.8rem;
  position: relative;
  top: 18px;
}

.p-top-seminer-content-when .p-top-seminer-content-time span {
  letter-spacing: -1px;
}

.p-top-seminer-content-when .p-top-seminer-detail-wrap {
  width: 80%;
}

.p-top-seminer-detail-wrap {
  margin: 0 0 25px 30px;
}

.p-top-seminer-detail-wrap .p-top-seminer-detail-format {
  margin: 0 -10px -6px;
}

.p-top-seminer-detail-wrap .p-top-seminer-detail-format li {
  display: flex;
  margin: 0 10px 6px;
  align-items: start;
}

.p-top-seminer-detail-wrap .p-top-seminer-detail-format span {
  padding: 3px 2px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  background-color: #e02828;
  min-width: 80px;
}

.p-top-seminer-detail-wrap .p-top-seminer-detail-format p {
  display: flex;
  align-items: center;
  margin-left: 12px;
  font-size: 0.9rem;
}

.p-top-seminer-detail-wrap .p-top-seminer-detail {
  padding-top: 25px;
}

.p-top-seminer-detail-wrap .p-top-seminer-detail p {
  font-size: 0.9rem;
  padding-top: 15px;
  border-top: 1px solid #e4e4e4;
}

.p-top-common-layout-about {
  padding: 70px 50px;
  background-color: #fff;
}

.p-top-common-layout-about .p-top-about-title-wrap {
  position: relative;
  margin-bottom: 30px;
  display: flex;
}

.p-top-common-layout-about .p-top-about-title-wrap h2 {
  font-size: 3rem;
  margin-left: 110px;
  display: flex;
}

.p-top-common-layout-about .p-top-about-title-wrap h2::before {
  content: "";
  position: absolute;
  background-color: #000;
  top: 50%;
  left: 0;
  width: 80px;
  height: 1px;
}

.p-top-common-layout-about .p-top-about-title-wrap p {
  font-size: 1.2rem;
  margin-left: 25px;
  padding-top: 33px;
}

.p-top-about-content-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.p-top-about-content-wrap .p-top-about-content {
  margin-bottom: 10px;
}

.p-top-about-content-wrap .p-top-about-content a {
  display: block;
  position: relative;
}

.p-top-about-content-wrap .p-top-about-content-img-wrap {
  height: 240px;
}

.p-top-about-content-wrap .p-top-about-content-img-wrap img {
  border-radius: 16px 0 16px 0;
  background-color: #ffffff;
  color: #000;
  box-shadow: 1px 1px 10px #999;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.p-top-about-content-wrap h3 {
  padding: 15px 0;
  font-size: 1.4rem;
}

.p-top-common-layout-culife {
  padding: 70px 50px;
  background-color: #fcc800;
}

.p-top-common-layout-culife h2 {
  position: relative;
}

.p-top-common-layout-culife h2 img {
  margin: 0 auto;
}

.p-top-common-layout-culife h2 a {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 22%;
  left: 36%;
  width: 260px;
  padding: 10px 5px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 10rem;
  font-size: 0.8rem;
  color: #000;
}

.p-top-common-layout-culife h2 a:hover {
  background-color: #fff;
}

.p-top-common-layout-culife h2 a span {
  padding-left: 10px;
}

.p-top-culife-content-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.p-top-culife-content {
  border-radius: 16px 0 16px 0;
  background-color: #ffffff;
  color: #000;
  box-shadow: 1px 1px 10px #999;
}

.p-top-culife-content:last-child {
  grid-column: 1/3;
  width: 50%;
  margin: 0 auto;
}

.p-top-culife-content .p-top-culife-content-img-wrap {
  position: relative;
}

.p-top-culife-content .p-top-culife-content-img-wrap img {
  height: 240px;
  border-radius: 16px 0 0 0;
  width: 100%;
  object-fit: cover;
}

.p-top-culife-content .p-top-culife-content-detail {
  width: 100%;
  padding: 20px 30px 30px;
  position: relative;
}

.p-top-culife-content .p-top-culife-content-detail .p-top-culife-content-detail-icon {
  position: absolute;
  top: -40px;
  right: 10px;
  color: #ffffff;
  background-color: #f15f38;
  width: 160px;
  padding: 6px;
  border-radius: 8px 0 8px 0;
  font-size: 0.8rem;
  text-align: center;
}

.p-top-culife-content .p-top-culife-content-detail .p-top-culife-content-detail-day {
  color: #8f8f8f;
}

.p-top-culife-content .p-top-culife-content-detail p {
  margin-top: 5px;
}

.p-top-common-layout-pickup {
  padding: 70px 50px;
  padding: 70px 0;
}

.p-top-common-layout-pickup .p-top-pickup-title-wrap {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  padding: 0 50px;
  flex-wrap: wrap;
}

.p-top-common-layout-pickup .p-top-pickup-title-wrap h2 {
  font-size: 3rem;
  margin-left: 110px;
  display: flex;
}

.p-top-common-layout-pickup .p-top-pickup-title-wrap h2::before {
  content: "";
  position: absolute;
  background-color: #000;
  top: 50%;
  left: 0;
  width: 80px;
  height: 1px;
}

.p-top-common-layout-pickup .p-top-pickup-title-wrap h2::before {
  left: 50px;
}

.p-top-common-layout-pickup .p-top-pickup-title-wrap span {
  font-weight: normal;
  font-size: 1.3rem;
  padding: 30px 0 0 25px;
}

.p-top-common-layout-pickup .p-top-pickup-title-wrap p {
  font-size: 1.2rem;
  margin-left: 25px;
  padding-top: 33px;
}

.p-top-pickup-slider-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.p-top-pickup-slider-wrap * {
  overflow: hidden;
}

.p-top-pickup-slider-wrap .p-top-pickup-slider {
  height: 100%;
  width: 950px;
}

.p-top-pickup-slider-wrap .p-top-pickup-slider li {
  width: 300px;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 16px 0 16px 0;
  box-shadow: 1px 1px 5px;
}

.p-top-pickup-slider-wrap .p-top-pickup-slider li img {
  width: 100%;
  height: 14vw;
}

.p-top-pickup-slider-wrap .p-top-pickup-slider .slick-clond {
  width: 300px;
}

.p-top-pickup-slider-wrap .slick-dots {
  bottom: -30px;
}

.p-top-pickup-slider-wrap .slick-dots li {
  width: 20px;
  border-radius: 0;
  margin: 0 5px;
  width: 8px;
  height: 8px;
  box-shadow: 0px 0px 0px 0px;
}

.p-top-pickup-slider-wrap .slick-dots li button::before {
  content: '';
  background-color: #000;
  opacity: 1;
}

.p-top-pickup-slider-wrap .slick-dots li.slick-active button:before {
  background-color: #fcc800;
  color: #fcc800;
}

.p-top-plugin-snsbox {
  padding: 70px 50px;
  background-color: #fcc800;
  display: flex;
}

.p-top-plugin-snsbox .p-top-pulugin-facebook {
  width: 50%;
}

.p-top-plugin-snsbox .p-top-pulugin-twiiter {
  width: 50%;
  margin-left: 30px;
}

/* ページトップアイコン*/
#page_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 0;
  bottom: 150px;
  background: #fff;
  opacity: .5;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 0px 5px;
}

#page_top a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 50px;
  color: #000;
}

@media (max-width: 1410px) {
  .p-top-top-img-wrap .p-top-top-img-pc {
    left: calc(100% - 1170px);
    width: 1170px;
    height: 660px;
  }
  .p-top-top-slider-wrap {
    left: calc(100% - 909px);
    top: 161px;
    width: 512px;
  }
  .p-top-entry-deadline-img-wrap img {
    left: calc(100% - 370px);
    width: 345px;
  }
}

@media (max-width: 1250px) {
  .p-top-top-img-wrap .p-top-top-img-pc {
    object-position: left;
  }
  .p-top-top-slider-wrap {
    left: calc(100% - 860px);
  }
  .p-top-entry-deadline-img-wrap img {
    display: none;
  }
  .p-top-footer-contact {
    flex-direction: column;
  }
  .p-top-footer-contact .p-top-footer-contact-call-wrap {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
  }
  .p-top-footer-contact .p-top-footer-contact-call-wrap br {
    display: none;
  }
  .p-top-footer-contact .p-top-footer-contact-mail {
    width: 100%;
    margin: 15px 0 0 0;
  }
  .p-top-footer-contact .p-top-footer-contact-mail a {
    font-size: 0.9rem;
  }
  .p-top-footer-cuguide-detail-content-wrap .p-top-footer-cuguide-detail-content {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .p-top-whole-wrap {
    flex-direction: column;
  }
  .p-top-top-img-pc {
    display: none;
  }
  .p-top-top-img-wrap {
    height: 590px;
  }
  .p-top-top-img-wrap .p-top-top-img-sp {
    position: absolute;
    display: block;
    height: 590px;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
  .p-top-top-slider-wrap {
    position: absolute;
    width: 600px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
  .p-top-switch-news-wrap .p-top-switch-news {
    width: 250px;
  }
  .p-top-switch-news-wrap .p-top-switch-news .p-top-pickup-slider-wrap .p-top-pickup-slider {
    height: 100%;
    width: 100%;
  }
  .p-top-common-layout-newsAndseminer {
    margin: 0;
  }
  .p-top-common-layout-pickup {
    padding: 30px 0;
  }
  .p-top-common-layout-pickup .p-top-pickup-title-wrap {
    margin-bottom: 15px;
    padding: 0;
  }
  .p-top-common-layout-pickup .p-top-pickup-title-wrap h2 {
    margin-left: 35px;
    font-size: 1.5rem;
    align-items: center;
  }
  .p-top-common-layout-pickup .p-top-pickup-title-wrap h2::before {
    left: -20px;
    width: 40px;
    top: auto;
  }
  .p-top-common-layout-pickup .p-top-pickup-title-wrap h2 {
    margin-left: 60px;
  }
  .p-top-common-layout-pickup .p-top-pickup-title-wrap h2::before {
    left: 0;
  }
  .p-top-common-layout-pickup .p-top-pickup-title-wrap span {
    font-size: 0.9rem;
    padding-top: 8px;
  }
  .p-top-pickup-slider-wrap .p-top-pickup-slider {
    width: 100%;
  }
  .p-top-pickup-slider-wrap .p-top-pickup-slider img {
    width: 100px;
  }
}

@media (max-width: 765px) {
  .big {
    display: none;
  }
  .p-top-top-img-wrap {
    height: 450px;
  }
  .p-top-top-img-wrap .p-top-top-img-sp {
    position: absolute;
    display: block;
    width: 765px;
    height: 450px;
  }
  .p-top-top-slider-wrap {
    position: absolute;
    top: 50px;
    width: 455px;
  }
  .p-top-common-layout-newsAndseminer {
    padding: 30px 20px;
    margin: 0;
  }
  .p-top-common-layout-newsAndseminer .p-top-news {
    margin-bottom: 20px;
  }
  .p-top-news-title-wrap {
    margin-bottom: 15px;
    flex-direction: column;
  }
  .p-top-news-title-wrap h2 {
    margin-left: 35px;
    font-size: 1.5rem;
    align-items: center;
  }
  .p-top-news-title-wrap h2::before {
    left: -20px;
    width: 40px;
    top: auto;
  }
  .p-top-news-title-wrap h2 {
    margin-bottom: 15px;
  }
  .p-top-news-title-wrap span {
    margin-left: 15px;
    padding-top: 9px;
    font-size: 0.8rem;
    font-weight: normal;
  }
  .p-top-switch-news-wrap {
    margin: 0 auto;
    width: 100%;
  }
  .p-top-switch-news-wrap .p-top-switch-news {
    width: 100%;
  }
  .p-top-news-content-wrap {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .p-top-news-list-btn {
    margin-top: 15px;
  }
  .p-top-news-list-btn a {
    max-width: 450px;
    padding: 12px 20px;
    height: 100%;
  }
  .p-top-seminer-title-wrap {
    margin-bottom: 15px;
  }
  .p-top-seminer-title-wrap h2 {
    margin-left: 35px;
    font-size: 1.5rem;
    align-items: center;
  }
  .p-top-seminer-title-wrap h2::before {
    left: -20px;
    width: 40px;
    top: auto;
  }
  .p-top-seminer-title-wrap a {
    margin: 7px 0 0 15px;
    width: 40%;
    height: 100%;
  }
  .p-top-seminer-content-wrap-sp {
    display: block;
    background-color: #fff;
    border-radius: 10px 0 10px 0;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-content {
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: #000;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-fukuizumi-img-wrap {
    width: 46%;
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-fukuizumi-img-wrap img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-sp-right {
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-article-title {
    font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-whenAnddetail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-content-when {
    width: 100%;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-content-when div {
    display: flex;
    justify-content: center;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-content-when .p-top-seminer-content-day-wrap {
    height: 55px;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-detail-wrap {
    margin: 10px 0 0 0;
  }
  .p-top-seminer-content-wrap-sp .p-top-seminer-detail-wrap .p-top-seminer-detail {
    padding-top: 10px;
  }
  .p-top-common-layout-about {
    padding: 30px 20px;
  }
  .p-top-common-layout-about .p-top-about-title-wrap {
    margin-bottom: 15px;
    margin-bottom: 15px;
  }
  .p-top-common-layout-about .p-top-about-title-wrap h2 {
    margin-left: 35px;
    font-size: 1.5rem;
    align-items: center;
  }
  .p-top-common-layout-about .p-top-about-title-wrap h2::before {
    left: -20px;
    width: 40px;
    top: auto;
  }
  .p-top-common-layout-about .p-top-about-title-wrap p {
    margin: 5px 0 0 15px;
    padding-top: 8px;
    font-size: 0.8rem;
  }
  .p-top-about-content-wrap {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .p-top-about-content-wrap .p-top-about-content {
    margin: 0;
  }
  .p-top-about-content-wrap h3 {
    padding: 10px 0 5px;
    font-size: 1rem;
  }
  .p-top-about-content-wrap p {
    font-size: 0.8rem;
  }
  .p-top-common-layout-culife {
    padding: 30px 20px;
  }
  .p-top-common-layout-culife h2 {
    position: static;
  }
  .p-top-common-layout-culife h2 .p-top-culife-img-pc {
    display: none;
  }
  .p-top-common-layout-culife h2 .p-top-culife-img-sp {
    display: block;
  }
  .p-top-common-layout-culife h2 a {
    position: static;
    margin: 20px auto;
  }
  .p-top-culife-content-wrap {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .p-top-culife-content-wrap .p-top-culife-content {
    display: flex;
    height: 100%;
  }
  .p-top-culife-content-wrap .p-top-culife-content:last-child {
    grid-column: 1;
    width: auto;
  }
  .p-top-culife-content-wrap .p-top-culife-content-img-wrap {
    position: relative;
    width: 45%;
    height: 100%;
  }
  .p-top-culife-content-wrap .p-top-culife-content-img-wrap img {
    object-fit: cover;
    height: 100%;
  }
  .p-top-culife-content-wrap .p-top-culife-content-img-wrap span {
    font-size: 0.4rem;
    padding: 2px;
    left: 195px;
    top: 15px;
    bottom: auto;
  }
  .p-top-culife-content-wrap .p-top-culife-content-detail {
    width: 55%;
    padding: 40px 20px 20px;
  }
  .p-top-culife-content-wrap .p-top-culife-content-detail .p-top-culife-content-detail-icon {
    top: 10px;
    width: 120px;
    left: 20px;
    font-size: 0.5rem;
  }
  .p-top-culife-content-wrap .p-top-culife-content-detail .p-top-culife-content-detail-day {
    font-size: 0.8rem;
  }
  .p-top-culife-content-wrap .p-top-culife-content-detail p {
    font-size: 0.8rem;
  }
  .p-top-pickup-slider-wrap .p-top-pickup-slider {
    width: 100%;
  }
  .p-top-pickup-slider-wrap .p-top-pickup-slider li img {
    height: 30vw;
  }
  .p-top-plugin-snsbox {
    flex-direction: column;
    padding: 30px 20px;
  }
  .p-top-plugin-snsbox .p-top-pulugin-facebook {
    width: 100%;
    height: 500px;
  }
  .p-top-plugin-snsbox .p-top-pulugin-twiiter {
    width: 100%;
    margin: 20px 0 0 0;
  }
  #page_top {
    width: 40px;
    height: 40px;
    bottom: 60px;
  }
  #page_top a::before {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  .p-top-top-img-wrap {
    height: 310px;
  }
  .p-top-top-img-wrap .p-top-top-img-sp {
    display: block;
    width: 500px;
    height: 310px;
  }
  .p-top-top-slider-wrap {
    width: 310px;
    top: 37px;
  }
  .p-top-top-slider-wrap .slick-dots {
    bottom: -20px;
  }
  .p-top-common-layout-newsAndseminer {
    margin: 0;
  }
}
