
header {
    display: flex;
    z-index: 100;
}
.nav-wrap {
    position: fixed;
    background-color: #fff;
}
header img {
    padding: 30px 15px;
}
.parent-nav li {
    max-width: 240px;
}
.parent-nav a {
    color: #000000;
    padding: 15px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
}
.parent-nav a:first-child {
    border-top: 1px solid #dfdfdf;
}
/* #nav-text::before {
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    border-right: 1px solid #dfdfdf;
    content: "";
} */
.child-nav {
    position: absolute;
    top: 0;
    /* left: 240px; */
    width: 300px;
    height: 100%;
    padding-top: 80px;
    background-color: #fff;
    transition-duration: 1s;
    /* transition-timing-function: ease-in; */
    transition-delay: 1s;
    z-index: 100;
}
.child-nav a {
    color: #000000;
    display: block;
    transition: 0.35s;
    padding: 15px 20px;
    border-bottom: 1px solid #efefef;
}
.child-nav a:first-child {
    border-top: 1px solid #efefef;
}
.child-nav li {
    padding: 0 15px;
}
.active {
    display: none;
}


.main-wrap {
    height: 1500px;
}
.main {
    padding: 0 300px;
    z-index: 50;
}
.slider{
    margin: 100px auto;
    width: 800px;
}
.slider img{
    height: auto;
    width: 100%;
}


/*slick setting*/


.slick-prev:before,
.slick-next:before {
    color: #000;
}

.fadein {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 1500ms;
}
  
.fadein .scrollin{
    opacity: 1;
    transform: translate(0, 0);
}


/* ページトップアイコン*/


#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 30px;
    background: #aaaaaacc;
    opacity: 0.3;
    border-radius: 10px 0 0 10px;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 25px;
    color: #000;
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }