
header {
    position: fixed;
}
header img {
    padding: 30px 15px;
}
.header-nav {
    width: 100%;
}
#parent-nav {
    padding: 0;
}
/* #child-nav {
    display: none;
} */
.header-nav li {
    list-style: none;
}
#nav-text {
    width: 100%;
    position: relative;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    font-size: 1.4rem;
    text-align: left;
}
/* #nav-text::before {
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    border-right: 1px solid #dfdfdf;
    content: "";
} */
#child-nav a {
    display: block;
}
