


.l-header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 6px 0 10px -10px;
    z-index: 1000;
    height: 100%;
}
.p-top-header-nav-wrap {
    background-color: #fff;
    width: 240px;
    a {
        display: block;
        position: relative;
        img {
            width: 100%;
            padding: 30px 25px;
            z-index: 900;
            background-color: #fff;
        }
    }
    .p-top-header-front {
        z-index: 900;
        background-color: #fff;
        position: relative;
        padding-bottom: 70px;
    }
}
.p-top-header-front-nav {
    position: relative;
    background-color: #fff;
}
.p-top-parent-nav-content-last {
    border-bottom: 1px solid #dfdfdf;
}
.p-top-header-front-nav-content {
    max-width: 240px;
    border-top: 1px solid #dfdfdf;
    position: relative;
    a {
        display: block;
        color: #000;
        padding: 15px;
        width: 100%;
        text-align: left;
        font-size: 0.85rem;
        transition: 1.5s;
        &:hover {
            background-color: #dfdfdf;
            transition: .35s;
            span  {
                border-color: #fff;
            }
        }
    }
    span {
        color: #e92e2e;
        position: absolute;
        right: 15px;
        top: 0;
        border-left: 1px solid #dfdfdf;
        padding: 15px 0 15px 20px;
        height: 100%;
        font-size: 0.8rem;
    }
    .header-nav-span-last {
        border: none;
    }
}
.p-top-guideAndrecruit {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    padding: 0 15px;
    margin: 12px 0;
    a {
        width: auto;
        margin-bottom: 10px;
        color: #000;
        span {
            color: #e92e2e;
            padding-right: 15px;
        } 
    }
}
.p-top-ocAndentry {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 15px;
    a {
        border: 1px solid #000;
        padding: 8px 20px;
        border-radius: 10rem;
        font-size: 0.9rem;
        margin-bottom: 10px;
        color: #000;
        position: relative;
        transition: .35s;
        &:hover {
            color: #fff;
            background-color: #000;
            transition: .35s;
            span {
                color: #fff;
            }
        }
        span {
            position: absolute;
            right: 20px;
            color: #e92e2e;
        }
    }
}
.p-top-language-wrap {
    margin-bottom: 30px;
    padding: 0 15px;
    .p-top-language {
        border: 1px solid #000;
        display: flex;
        border-radius: 6px;
        a {
            padding: 5px;
            text-align: center;
            width: 50%;
            font-size: 0.8rem;
        }
        .p-top-language-JP {
            border-radius: 5px 0 0 5px;
            background-color: #000;
            color: #fff;
        }
        .p-top-language-EN {
            border-radius: 0 5px 5px 0;
            background-color: #fff;
            color: #000;
            transition: .35s;
            &:hover {
                transition: .35s;
                background-color: #dfdfdf;
            }
        }
    }
}
.p-top-header-sns {
    display: flex;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    a {
    width: 33.33333%;
    border-right: 1px solid #dfdfdf;
    text-align: center;
    padding: 15px;
    color: #000;
    font-size: 1.5rem;
    &:last-child {
        border-right: none;
        }
    }
}


 
.p-top-header-back-nav {
    position: absolute;
    top: 0;
    left: -500px;
    padding-top: 50px;
    background-color: #fff;
    transition-duration: .35s;
    z-index: 800;
    height: 100%;
    box-shadow: 6px 6px 13px -13px inset;
    li {
        position: relative;
        padding: 0 15px;
        border-top: 1px solid #efefef;
        margin: 0 30px;
        &:last-child {
            position: relative;
            border-bottom: 1px solid #efefef;
        }
    }
    a {
        position: relative;
        color: #000;
        display: block;
        transition: 0.35s;
        padding: 15px 0;
        font-size: 0.85rem;
        span {
            position: absolute;
            right: 0;
            color: #e92e2e;
        }
    }
}
.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    padding-top: 80px;
    background-color: #fff;
    transform: translate(240px, 0);
    z-index: 700;
}



// TB //


@include tb {
    .l-header {
        position: static;
    }
    .p-top-header-nav-wrap {
        display: none;
    }
    .p-top-header-sp {
        display: block;
        position: static;
        top: 0;
        background-color: #fff;
        width: 100%;
        height: 70px;
        padding: 10px 20px;
        border-bottom: 1px solid #000;
        .p-top-header-content-wrap {
            display: flex;
        }
    }
    .p-top-header-logo-img-sp-wrap {
        display: block;
        width: 140px;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .p-top-header-menu-wrap-wrap {
        margin-left: auto;
        .p-top-header-menu-wrap {
            margin-left: auto;
            position: relative;
        }
    }
    .contentA, .contentB {
        transition: 0.5s;
        transform: rotate(60deg);
        position: absolute;
        top: 13px;
        width: 18px;
        height: 2px;
        background-color: #000000;
    }
    .contentA::before, 
    .contentA::after {
        display: block;
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 10rem;
        background-color: #000000;
        content: "";
    }
    .contentA::before {
        top: -1px;
        left: -1px;
    }
    .contentA::after {
        bottom: -1px;
        right: -1px;
    }
    .content1 {
        left: -1px;
    }
    .content2 {
        left: 7px;
        transition: 0.2s 0.3s;
        transform: rotate(-60deg);
        opacity: 1;
    }
    .content4 {
        left: 24px;
        transform: rotate(-60deg);
    }
    .content5 {
        left: 32px;
    }
    .contentC {
        border-width: 1px;
        border-style: solid;
        border-color: #000000;
        position: absolute;
        top: 13px;
        left: 15px;
        transform: rotate(60deg);
        transform-origin: center;
        width: 18px;
        height: 2px;
    }
    
    .contentC::before, 
    .contentC::after {
        -webkit-transition: 0.8s;
        transition: 0.8s;
        display: block;
        position: absolute;
        opacity: 1;
        width: 4px;
        height: 4px;
        border-radius: 10rem;
        background-color: #000000;
        content: "";
    }
    .contentC::before {
        top: -2px;
        left: -2px;
    }
    .contentC::after {
        bottom: -2px;
        right: -2px;
    }
    .content {
        transform: rotate(-60deg);
    }
    .p-top-header-menu-text {
        padding-top: 25px;
        font-size: 0.8rem;
        color: #000;
        padding-left: 4px;
    }


    .p-top-header-sp-menu-content-wrap {
        display: none;
        width: 100%;
        position: fixed;
        background-color: #000;
        opacity: 0.9;
    }
    .p-top-sp-menu-header {
        position: fixed;
        width: 100%;
        display: flex;
        padding: 10px 20px;
        border-bottom: 1px solid #fff;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            .p-top-sp-menu-header-logo-img-wrap {
                width: 140px;
            }
        }
        .p-top-sp-menu-header-icon {
            position: relative;
            margin-left: auto;
            width: 48px;
            height: 48px;
            border: 1px solid #fff;
            border-radius: 10px 0 10px 0;
            span {
                position: absolute;
                top: 22px;
                left: 5px;
                width: 35px;
                height: 1px;
                background-color: #fff;
            }
            .lineA {
                transform: rotate(45deg);
            }
            .lineB {
                transform: rotate(-45deg);
            }
        }
    }
    .p-top-header-sp-menu-nav-wrap {
        margin-top: 70px;
        padding: 20px;
        position: relative;
        overflow-y: auto;
        height: 100vh;
    }
    .p-top-header-sp-menu-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #fff;
        li {
            margin: 8px;
            width: calc(33.333% - 16px);
            height: 27vw;
            a {
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;
                transition: 0.35s;
                width: 100%;
                height: 100%;
                padding: 10px;
                border-radius: 12px 0 12px 0;
                color: #ffffff;
                text-align: center;
                &:hover {
                    background-color: #fff;
                    color: #000;
                    opacity: 1;
                }
            }
        }
    }
    .p-top-header-sp-menu-guideAndrecruit {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        margin-bottom: 30px;
        a {
            width: auto;
            margin-bottom: 10px;
            color: #fff;
            opacity: 1;
            &:hover {
                opacity: 0.8;
            }
            span {
                color: #fff;
                padding-right: 15px;
            } 
        }
    }
    .p-top-header-sp-menu-ocAndentry {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        a {
            border: 1px solid #fff;
            padding: 13px 30px;
            border-radius: 10rem;
            font-size: 0.9rem;
            margin-bottom: 10px;
            color: #fff;
            position: relative;
            transition: .35s;
            &:hover {
                background-color: #fff;
                color: #000;
                opacity: 1;
            }
            span {
                position: absolute;
                right: 20px;
                color: #fff;
            }
        }
    }
    .p-top-header-sp-menu-language-wrap {
        margin-bottom: 30px;
        padding: 0 15px;
        .p-top-header-sp-menu-language {
            border: 1px solid #000;
            display: flex;
            border-radius: 6px;
            a {
                padding: 5px;
                text-align: center;
                width: 50%;
                font-size: 0.8rem;
            }
            .p-top-header-sp-menu-language-JP {
                border-radius: 5px 0 0 5px;
                background-color: #fff;
                color: #000;
            }
            .p-top-header-sp-menu-language-EN {
                border-radius: 0 5px 5px 0;
                background-color: #000;
                color: #fff;
                transition: .35s;
                border: 1px solid #fff;
            }
        }
    }
    .p-top-header-sp-menu-sns {
        display: flex;
        justify-content: center;
        padding-bottom: 120px;
        a {
        width: 40px;
        text-align: center;
        color: #fff;
        font-size: 1.5rem;
        margin: 15px;
        &:hover {
            opacity: .8;
        }
        &:last-child {
            border-right: none;
            }
        }
    }
}