
// MAIN


.p-top-whole-wrap {
    display: flex;
}
.l-main {
    z-index: 500;
    width: 100%;
    .l-main-visual {
        position: relative;
    }
}
.main-active {
    position: fixed;
    margin-top: 70px;
}
.p-top-top-img-wrap {
    overflow: hidden;
    .p-top-top-img-pc {
        position: absolute;
        left: calc(100% - 1500px);
        width: 1500px;
        height: 660px;
        max-width: none;
        object-fit: cover;
        overflow: hidden;
    }
}
.p-top-top-slider-wrap {
    position: absolute;
    left: calc(100% - 1135px);
    top: 130px;
    width: 608px;
    height: 335px;
    * {
        overflow: hidden;
    }
    /*slick setting*/
    .slick-prev
    .slick-next {
        display: none;
    }
    .slick-prev:before,
    .slick-next:before {
        display: none;
    }
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before
    {
        opacity: 1;
    }
    .slick-dots li button:before {
        font-size: 50px;
        top: -5px;
        opacity: 1;
        color: #fff;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #fcc800;
    }
    .fadein {
        opacity: 1;
        transform: translate(0, 50px);
        transition: all 1500ms;
    }
    .fadein .scrollin{
        opacity: 1;
        transform: translate(0, 0);
    }
}
.p-top-entry-deadline-img-wrap {
    img {
        position: absolute;
        left: calc(100% - 478px);
        width: 375px;
        height: 460px;
        top: 90px;
    }
}



.p-top-common-layout-newsAndseminer {
    @include p-top-common-layout;
    background-color: #fcc800;
    margin-top: 660px;
    .p-top-news {
        margin-bottom: 70px;
    }
}
.p-top-news-title-wrap {
    @include p-top-section-title;
    span {
        margin-left: 25px;
        padding-top: 33px;
        font-size: 1.2rem;
        display: none;
        transition: .35s;
    }
}
.news-subtitle-active {
    transition: .35s;
    display: block !important;
}
.p-top-switch-news-wrap {
    margin-left: auto;
    .p-top-switch-news {
        border: 1px solid #000;
        display: flex;
        border-radius: 6px;
        width: 350px;
        a {
            padding: 12px;
            text-align: center;
            width: 50%;
            font-size: 0.9rem;
            transition: .35s;
            background-color: #fff;
            color: #000;
        }
        .p-top-switch-news-news {
            border-radius: 5px 0 0 5px;
        }
        .p-top-switch-news-release {
            border-radius: 0 5px 5px 0;
        }
    }
}
.news-btn-active {
    background-color: #000 !important;
    color: #fff !important;
}
.p-top-news-content-wrap {
    display: none;
    // display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    transition: .35s;
    a{
        @include article-style;
        position: relative;
    }
}
.news-content-active {
    display: grid !important;
    transition: .35s;
}
.p-top-news-content-when-wrap {
    display: flex;
    height: 120px;
    margin: -1px;
    .p-top-news-content-when {
        width: 38%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .p-top-news-content-when-yearAndweek {
            margin-bottom: -10px;
        }
        .p-top-news-content-year {
            margin-right: 8px;
        }
        .p-top-news-content-month {
            font-size: 1.7rem;
            position: relative;
            bottom: 10px;
            right: -5px;
        }
        .p-top-news-content-slash {
            font-size: 2.5rem;
        }
        .p-top-news-content-day {
            font-size: 1.7rem;
            position: relative;
            right: 6px;
            bottom: -5px;
        }
    }
    .p-top-news-content-img-wrap {
        width: 62%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.p-top-news-content-text-wrap {
    border-top: 1px solid #ebebeb;
    padding: 20px;
    .p-top-news-content-text-from {
        margin-bottom: 10px;
        font-size: 0.7rem;
        color: #fff;
        background-color: #9262bb;
        width: 140px;
        padding: 6px;
        text-align: center;
    }
    .p-top-news-content-text {
        margin-bottom: 10px;
    }
}
.p-top-article-hover-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.35s;
    position: absolute;
    top: -1px;
    left: 1px;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 16px 0 16px 0;
    background-color: rgba(255, 255, 255, 0.5);
    &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border-radius: 12px 0 12px 0;
        background-color: rgba(252, 200, 0,.7);
    }
    &:hover {
        opacity: 1;
    }
    .p-top-article-hover-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 10rem;
        background-color: #ffffff;
        z-index: 600;
        i {
            font-size: 2rem;
        }
    }
}
.p-top-news-list-btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: #000;
        border: 2px solid #000;
        padding: 30px;
        border-radius: 10rem;
        display: block;
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        &:hover {
            color: #fff;
            background-color: #000;
            i {
                color: #fff;
            }
        }
        i {
            color: #e92e2e;
            padding-left: 15px;
        }
    }
}


.p-top-seminer-title-wrap {
    @include p-top-section-title;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #000;
        font-size: 0.8rem;
        border-radius: 10rem;
        width: 150px;
        height: 25px;
        margin: 26px 0 0 25px;
        &:hover {
            color: #000;
            background-color: #fff;
        }
    }
}
.p-top-seminer-content-wrap {
    a {
        @include article-style;
        padding: 40px;
        display: flex;
        position: relative;
    }
    .p-top-seminer-fukuizumi-img-wrap {
        width: 30%;
        img {
            width: 240px;
            height: 210px;
            border-radius: 8px;
            object-fit: contain;
            background-color: #ececec;
        }
    }
    .p-top-seminer-text-wrap {
        width: 70%;
        .p-top-seminer-article-title {
            margin-bottom: 30px;
        }
    }
}
.p-top-seminer-text-wrap {
    margin-left: 30px;
    .p-top-seminer-article-title {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .p-top-seminer-whenAnddetail {
        display: flex;
    }
}
.p-top-seminer-content-when {
    width: 20%;
    .p-top-seminer-content-when-yearAndweek {
        display: flex;
        .p-top-seminer-content-week {
            margin-left: auto;
        }
    }
    .p-top-seminer-content-day-wrap {
        display: flex;
        font-weight: bold;
        .p-top-seminer-content-month {
            font-size: 1.8rem;
        }
        .p-top-seminer-content-slash {
            font-size: 2.7rem;
            position: relative;
            top: -5px;
        }
        .p-top-seminer-content-day {
            font-size: 1.8rem;
            position: relative;
            top: 18px;
        }
    }
    .p-top-seminer-content-time {
        span {
            letter-spacing: -1px;
        }
    }
    .p-top-seminer-detail-wrap {
        width: 80%;
    }
}
.p-top-seminer-detail-wrap {
    margin: 0 0 25px 30px;
    .p-top-seminer-detail-format {
        margin: 0 -10px -6px;
        li {
            display: flex;
            margin: 0 10px 6px;
            align-items: start;
        }
        span {
            padding: 3px 2px;
            border-radius: 2px;
            color: #ffffff;
            font-size: 0.8rem;
            text-align: center;
            background-color: #e02828;
            min-width: 80px;
        }
        p {
            display: flex;
            align-items: center;
            margin-left: 12px;
            font-size: 0.9rem;
        }
    }
    .p-top-seminer-detail {
        padding-top: 25px;
        p {
            font-size: 0.9rem;
            padding-top: 15px;
            border-top: 1px solid #e4e4e4;
        }
    }
}



.p-top-common-layout-about {
    @include p-top-common-layout;
    background-color: #fff;
    .p-top-about-title-wrap {
        @include p-top-section-title;
        p {
            font-size: 1.2rem;
            margin-left: 25px;
            padding-top: 33px;
        }
    }
}
.p-top-about-content-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    .p-top-about-content {
        margin-bottom: 10px;
        a {
            display: block;
            position: relative;
        }
    }
    .p-top-about-content-img-wrap {
        height: 240px;
        img {
            @include article-style;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-bottom: 10px;
        }
    }
    h3 {
        padding: 15px 0;
        font-size: 1.4rem;
    }
}


.p-top-common-layout-culife {
    @include p-top-common-layout;
    background-color: #fcc800;
    h2 {
        position: relative;
        img {
            margin: 0 auto;
        }
        a {
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: 22%;
            left: 36%;
            width: 260px;
            padding: 10px 5px;
            margin: 0 auto;
            border: 1px solid #000;
            border-radius: 10rem;
            font-size: 0.8rem;
            color: #000;
            &:hover {
                background-color: #fff;
            }
            span {
                padding-left: 10px;
            }
        }
    }
}
.p-top-culife-content-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.p-top-culife-content {
    @include article-style;
    &:last-child {
        grid-column: 1/3;
        width: 50%;
        margin: 0 auto;
    }
    .p-top-culife-content-img-wrap {
        position: relative;
        img {
            height: 240px;
            border-radius: 16px 0 0 0;
            width: 100%;
            object-fit: cover;
        }
    }
    .p-top-culife-content-detail {
        width: 100%;
        padding: 20px 30px 30px;
        position: relative;
        .p-top-culife-content-detail-icon {
            position: absolute;
            top: -40px;
            right: 10px;
            color: #ffffff;
            background-color: #f15f38;
            width: 160px;
            padding: 6px;
            border-radius: 8px 0 8px 0;
            font-size: 0.8rem;
            text-align: center;
        }
        .p-top-culife-content-detail-day{
            color: #8f8f8f;
        }
        p {
            margin-top : 5px;
        }
    }
}



.p-top-common-layout-pickup {
    @include p-top-common-layout;
    padding: 70px 0;
    .p-top-pickup-title-wrap {
        @include p-top-section-title;
        padding: 0 50px;
        flex-wrap: wrap;
        h2 {
            &::before {
                left: 50px;
            }
        }
        span {
            font-weight: normal;
            font-size: 1.3rem;
            padding: 30px 0 0 25px;
        }
        p {
            font-size: 1.2rem;
            margin-left: 25px;
            padding-top: 33px;
        }
    }
}
.p-top-pickup-slider-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    * {
        overflow: hidden;
    }
    .p-top-pickup-slider {
        height: 100%;
        width: 950px;
        li {
            width: 300px;
            margin: 0 15px;
            overflow: hidden;
            border-radius: 16px 0 16px 0;
            box-shadow: 1px 1px 5px;
            img {
                width: 100%;
            }
        }
        .slick-clond {
            width: 300px;
        }
    }
    .slick-dots {
        bottom: -30px;
        li {
            width: 20px;
            border-radius: 0;
            margin: 0 5px;
            width: 8px;
            height: 8px;
            // background-color: #000;
            box-shadow: 0px 0px 0px 0px;
            // :hover {
            //     background-color: #fcc800;
            // }
        }
    }
    // .slick-dots li button {
    //     background-color: #000;
    //     color: #000;
    // }
    .slick-dots li button::before {
        content: '';
        background-color: #000;
        opacity: 1;
    }
    .slick-dots li.slick-active button:before {
        background-color: #fcc800;
        color: #fcc800;
        // opacity: 1;
    }
}


  



.p-top-plugin-snsbox {
    @include p-top-common-layout;
    background-color: #fcc800;
    display: flex;
    .p-top-pulugin-facebook {
        width: 50%;
    }
    .p-top-pulugin-twiiter {
        width: 50%;
        margin-left: 30px;
    }
}




/* ページトップアイコン*/

#page_top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 0;
    bottom: 150px;
    background: #fff;
    opacity: .5;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 5px;
}
#page_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 50px;
    color: #000;
}





// PC

@include pc {
    .p-top-top-img-wrap {
        .p-top-top-img-pc {
            left: calc(100% - 1170px);
            width: 1170px;
            height: 660px;
        }
    }
    .p-top-top-slider-wrap {
        left: calc(100% - 909px);
        top: 161px;
        width: 512px;
    }
    .p-top-entry-deadline-img-wrap {
        img {
            left: calc(100% - 370px);
            width: 345px;
        }
    }

}


// AJUST1

@include ajust1 {
    .p-top-top-img-wrap {
        .p-top-top-img-pc {
            object-position: left;
        }
    }
    .p-top-top-slider-wrap {
        left: calc(100% - 860px);
    }
    .p-top-entry-deadline-img-wrap {
        img {
            display: none;
        }
    }
    .p-top-footer-contact {
        flex-direction: column;
        .p-top-footer-contact-call-wrap {
            width: 100%;
            border: none;
            border-bottom: 1px solid #000;
            padding-bottom: 10px;
            br {
                display: none;
            }
        }
        .p-top-footer-contact-mail {
            width: 100%;
            margin: 15px 0 0 0;
            a {
                font-size: 0.9rem;
            }
        }
    }
    .p-top-footer-cuguide-detail-content-wrap {
        .p-top-footer-cuguide-detail-content {
            width: 100%;
        }
    }
}


// TB

@include tb {
    .p-top-whole-wrap {
        flex-direction: column;
    }
    .p-top-top-img-pc {
        display: none;
    }
    .p-top-top-img-wrap {
        height: 590px;
        .p-top-top-img-sp {
            position: absolute;
            display: block;
            height: 590px;
            width: 1000px;
            left: 50%;
            transform: translateX(-50%);
            object-fit: cover;
        }
    }
    .p-top-top-slider-wrap {
        position: absolute;
        width: 600px;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
    .p-top-switch-news-wrap .p-top-switch-news {
        width: 250px;
        .p-top-pickup-slider-wrap {
            .p-top-pickup-slider {
                height: 100%;
                width: 100%;
            }
        }
    }
    .p-top-common-layout-newsAndseminer {
        margin: 0;
    }
    
    .p-top-common-layout-pickup {
        padding: 30px 0;
        .p-top-pickup-title-wrap {
            @include p-top-section-title-sp;
            padding: 0;
            h2 {
                margin-left: 60px;
                &::before {
                    left: 0;
                }
            }
            span {
                font-size: 0.9rem;
                padding-top: 8px;
            }
        }
    }
    .p-top-pickup-slider-wrap  {
        .p-top-pickup-slider {
            width: 100%;
            img {
                width: 100px;
            }
        }
    }
}




// AJUST2 //

@include ajust2 {
    .big {
        display: none;
    }
    .p-top-top-img-wrap {
        height: 450px;
        .p-top-top-img-sp {
            position: absolute;
            display: block;
            width: 765px;
            height: 450px;
        }
    }
    .p-top-top-slider-wrap {
        position: absolute;
        top: 50px;
        width: 455px;
    }
    .p-top-common-layout-newsAndseminer {
        padding: 30px 20px;
        margin: 0;
        .p-top-news {
            margin-bottom: 20px;
        }
    }
    .p-top-news-title-wrap {
        @include p-top-section-title-sp;
        flex-direction: column;
        h2 {
            margin-bottom: 15px;
        }
    }
    .p-top-news-title-wrap span {
        margin-left: 15px;
        padding-top: 9px;
        font-size: 0.8rem;
        font-weight: normal;
    }
    .p-top-switch-news-wrap {
        margin: 0 auto;
        width: 100%;
        .p-top-switch-news {
            width: 100%;
        }
    }
    .p-top-news-content-wrap {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .p-top-news-list-btn {
        margin-top: 15px;
        a {
            max-width: 450px;
            padding: 12px 20px;
            height: 100%;
        } 
    }
    
    .p-top-seminer-title-wrap {
        @include p-top-section-title-sp;
        a {
            margin: 7px 0 0 15px;
            width: 40%;
            height: 100%;
        }
    }
    .p-top-seminer-content-wrap-sp {
        display: block;
        background-color: #fff;
        border-radius: 10px 0 10px 0;
        .p-top-seminer-content {
            padding: 15px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            color: #000;
        }
        .p-top-seminer-fukuizumi-img-wrap {
            width: 46%;
            height: 200px;
            margin-right: 10px;
            border-radius: 10px;
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .p-top-seminer-sp-right{
            width: 50%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .p-top-seminer-article-title {
            font-size: 0.8rem;
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: 1px solid #e4e4e4;
        }
        .p-top-seminer-whenAnddetail {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
        .p-top-seminer-content-when {
            width: 100%;
            div {
                display: flex;
                justify-content: center;
            }
            .p-top-seminer-content-day-wrap {
                height: 55px;
            }
        }
        .p-top-seminer-detail-wrap {
            margin: 10px 0 0 0;
            .p-top-seminer-detail {
                padding-top: 10px;
            }
        }
    }

    .p-top-common-layout-about {
        padding: 30px 20px;
        .p-top-about-title-wrap {
            margin-bottom: 15px;
            @include p-top-section-title-sp;
            p {
                margin: 5px 0 0 15px;
                padding-top: 8px;
                font-size: 0.8rem;
            }
        }
    }
    .p-top-about-content-wrap {
        grid-template-columns: 1fr;
        gap: 15px;
        .p-top-about-content {
            margin: 0;
        }
        h3 {
            padding: 10px 0 5px;
            font-size: 1rem;
        }
        p {
            font-size: 0.8rem;
        }
    }
    .p-top-common-layout-culife {
        padding: 30px 20px;
        h2 {
            position: static;
            .p-top-culife-img-pc {
                display: none;
            }
            .p-top-culife-img-sp {
                display: block;
            }
            a {
                position: static;
                margin: 20px auto;
            }
        }
    }
    .p-top-culife-content-wrap {
        grid-template-columns: 1fr;
        gap: 15px;
        .p-top-culife-content {
            display: flex;
            height: 100%;
            &:last-child {
                grid-column: 1;
                width: auto;
            }
        }
        .p-top-culife-content-img-wrap {
            position: relative;
            width: 45%;
            height: 100%;
            img {
                object-fit: cover;
                height: 100%;
            }
            span {
                font-size: 0.4rem;
                padding: 2px;
                left: 195px;
                top: 15px;
                bottom: auto;
            }
        }
        .p-top-culife-content-detail {
            width: 55%;
            padding: 40px 20px 20px;
            .p-top-culife-content-detail-icon {
                top: 10px;
                width: 120px;
                left: 20px;
                font-size: 0.5rem;
            }
            .p-top-culife-content-detail-day {
                font-size: 0.8rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
    }

    .p-top-pickup-slider-wrap  {
        .p-top-pickup-slider {
            width: 100%;
        }
    }

    .p-top-plugin-snsbox {
        flex-direction: column;
        padding: 30px 20px;
        .p-top-pulugin-facebook {
            width: 100%;
            height: 500px;
        }
        .p-top-pulugin-twiiter {
            width: 100%;
            margin: 20px 0 0 0;
        }
    }

    #page_top {
        width: 40px;
        height: 40px;
        bottom: 60px;
    }
    #page_top a::before {
        font-size: 1.6rem;
    }
}


// SP

@include sp {
    .p-top-top-img-wrap {
        height: 310px;
        .p-top-top-img-sp {
            display: block;
            width: 500px;
            height: 310px;
        }
    }
    .p-top-top-slider-wrap {
        width: 310px;
        top: 37px;
        .slick-dots {
            bottom: -20px;
        }
    }
    .p-top-common-layout-newsAndseminer {
        margin: 0;
    }
}
